.Dashboard
    .switch
        color: #dcdaee
        width: 1100px
        margin: auto
        padding: 100px

.header
    background-color: #dcdaee
    color: #140027

.Admin
    .users
        li
            display: flex
            align-items: center
            gap: 10px
        .delete
            color: #ca3a01
            font-size: 40px
            display: inline
            cursor: pointer

.hide
    display: flex
    align-items: center
.elemento
    display: flex
    align-items: center

.data
    width: 450px
