.hoursCalendar{
    display: flex;
    
}
.hour{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    
    border-right: 1px solid black;
    border-radius: 5px;
}
.selected {
    background-color: green;
}
.reserved {
    background-color: red;
}