.ListClubs
	width: min-content
	margin: auto
	width: 1100px
	.Container
		.search
			display: flex
			justify-content: center
			align-items: center
		.clubesYmap
			display: flex
			position: relative
			.clubes
				background-color: peru
				width: 700px
			.map
				justify-self: flex-end
				align-self: flex-end
				width: 400px
				height: 500px
				position: absolute
