.ListClubs {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  width: 100%;
}

.ListClubs .nonFooter {
  height: 100vh;
}

.ListClubs .Container {
  width: 1100px;
  margin: auto;
}

.ListClubs .Container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-block: 30px;
  position: relative;
}

.ListClubs .Container .search .orderScore {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dcdaee;
  font-weight: 500;
}

.ListClubs .Container .search .orderScore div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.ListClubs .Container .search .orderScore button {
  color: #abb2d6;
  padding: 0;
  font-size: 24px;
  line-height: 0;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ListClubs .Container .search .orderScore button:hover {
  color: #00C49A;
}

.ListClubs .Container .search .searchBar form {
  height: 50px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  background-color: #abb2d6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ListClubs .Container .search .searchBar form .ciudad {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.ListClubs .Container .search .searchBar form .size {
  width: 100px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.ListClubs .Container .search .searchBar form .clubName {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
}

.ListClubs .Container .search .searchBar form input {
  font-weight: 500;
  height: 100%;
  background-color: transparent;
  border: none;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  outline: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ListClubs .Container .search .searchBar form input:focus, .ListClubs .Container .search .searchBar form input:hover, .ListClubs .Container .search .searchBar form input:not(:placeholder-shown) {
  background-color: #ffffff;
  border-radius: 50px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.ListClubs .Container .search .searchBar form button {
  background-color: #00C49A;
  font-size: 30px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.ListClubs .Container .search .searchBar form button:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.ListClubs .Container .clubesYmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 20px;
  height: 70vh;
  gap: 10px;
}

.ListClubs .Container .clubesYmap .clubes {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5 1.5 0px;
          flex: 1.5 1.5 0px;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  overflow: overlay;
}

.ListClubs .Container .clubesYmap .map {
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  height: 70vh;
  position: relative;
}

.ListClubs .Container .clubesYmap .map .mapFilter {
  position: absolute;
  top: -30px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00C49A;
  border-radius: 50px;
  padding-inline: 7px;
  cursor: pointer;
  font-weight: 500;
}
/*# sourceMappingURL=ListClubs.module.css.map */