.contenedorGral {
  display: flex;
  flex-direction: column;
}
.orders {
  display: flex;
  justify-content: center;
  align-content: center;
}
.contenedorlistClubMap {
  display: flex;
  padding: 1rem;
}
.contenedor {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  border: 1px solid rgb(0, 0, 0);
  margin-right: 1rem;
  margin-left: 1rem;
}
