.dotPattern {
  position: absolute;
  width: 300px;
  height: 500px;
  background-image: radial-gradient(#00C49A 2px, transparent 2px);
  background-size: 32px 32px;
  background-color: transparent;
  bottom: 5%;
  left: -10%;
}

.diagonalPattern {
  position: absolute;
  width: 300px;
  height: 500px;
  background-image: repeating-linear-gradient(45deg, #00C49A 0, #00C49A 2px, transparent 0, transparent 50%);
  background-size: 32px 32px;
  background-color: rgba(255, 255, 255, 0);
  right: -10%;
  width: 300px;
  height: 200px;
  top: 7%;
}

.SignUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin: auto;
  position: relative;
}

.SignUp .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.SignUp .content .hero {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.SignUp .content .hero::after {
  width: 1040px;
  height: 93%;
  content: '';
  position: absolute;
  left: 30px;
  border: 20px solid #dcdaeeb0;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  height: 91%;
  width: 94%;
  left: 0;
  left: 30px;
}

.SignUp .content .form {
  position: absolute;
  left: 80px;
  top: 0;
  height: 100%;
}

.SignUp .content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.2s 0.7s;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  width: 310px;
  height: 100%;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  background: #1400277f;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.SignUp .content form .title {
  font-size: 2.2rem;
  color: #dcdaee;
}

.SignUp .content form .title a {
  text-decoration: none;
  color: #00C49A;
  font-family: 'Pattaya', sans-serif;
}

.SignUp .content form .inputField {
  max-width: 380px;
  width: 100%;
  background-color: #dcdaee;
  margin: 12px 0;
  height: 40px;
  border-radius: 55px;
  padding: 0 0.4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.SignUp .content form .inputField .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.SignUp .content form .fasFaUser {
  text-align: center;
  color: #acacac;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.1rem;
}

.SignUp .content form input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 400;
  font-size: 1.1rem;
  color: #333;
}

.SignUp .content form input::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.SignUp .content form input:-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.SignUp .content form input::-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.SignUp .content form input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.SignUp .content form input:-webkit-autofill, .SignUp .content form input:-webkit-autofill:hover, .SignUp .content form input:-webkit-autofill:focus, .SignUp .content form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #dcdaee inset !important;
  border-radius: 30px;
}

.SignUp .content form .containerError {
  position: absolute;
  top: 40px;
  left: 20px;
}

.SignUp .content form .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffb7b7;
  font-size: 14px;
  width: 100%;
}

.SignUp .content form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SignUp .content form .boton {
  color: #140027;
  font-size: 30px;
  background-color: #dcdaeeb0;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  background-color: #62d9bf;
  font-size: 23px;
  margin-top: 10px;
  width: 140px;
}

.SignUp .content .boton:hover {
  background-color: #00C49A;
}

.SignUp .content .boton:disabled {
  background-color: rgba(128, 128, 128, 0.788);
}

.SignUp .content .boton:disabled:hover {
  background-color: rgba(128, 128, 128, 0.788);
}

.SignUp .content .socialText {
  padding: 0.7rem 0;
  font-size: 1rem;
  color: #dcdaee;
}

.SignUp .content .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=UserSignUp.module.css.map */