.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 30rem;
    height: 40rem;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;

    .title {
      font-size: 2.2rem;
      color: #444;
      margin-bottom: 10px;
    }
    .inputField {
      max-width: 380px;
      width: 100%;
      background-color: #f0f0f0;
      margin: 10px 0;
      height: 55px;
      border-radius: 55px;
      display: grid;
      grid-template-columns: 15% 85%;
      padding: 0 0.4rem;
      position: relative;
      .fasFaUser {
        text-align: center;
        line-height: 55px;
        color: #acacac;
        transition: 0.5s;
        font-size: 1.1rem;
        margin-top: 1rem;
        margin-left: 1rem;
      }
      input {
        background: none;
        outline: none;
        border: none;
        line-height: 1;
        font-weight: 600;
        font-size: 1.1rem;
        color: #333;
      }
      input::placeholder {
        color: #aaa;
        font-weight: 500;
      }
    }
    .containerError {
      display: flex;
      .error {
        display: flex;
        color: red;
        font-size: 14px;
        width: 100%;
      }
    }

    .boton {
      width: 150px;
      background-color: #5995fd;
      border: none;
      outline: none;
      height: 49px;
      border-radius: 49px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      margin: 10px 0;
      cursor: pointer;
      transition: 0.5s;
    }
    .boton:hover {
      background-color: #4d84e2;
    }
    .boton:disabled {
      background-color: rgba(128, 128, 128, 0.788);
    }
    .boton:disabled:hover {
      background-color: rgba(128, 128, 128, 0.788);
    }
    .socialText {
      padding: 0.7rem 0;
      font-size: 1rem;
    }
    .socialMedia {
      display: flex;
      justify-content: center;
      .socialIcon {
        height: 46px;
        width: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0.45rem;
        color: #333;
        border-radius: 50%;
        border: 1px solid #333;
        text-decoration: none;
        font-size: 1.1rem;
        transition: 0.3s;
      }

      .socialIcon:hover {
        color: #4481eb;
        border-color: #4481eb;
      }
    }
  }
}
