.link {
  .contenedor {
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 100%;
    height: auto;
    min-height: 10rem;
    display: flex;
    .divImg {
      width: 25rem;
      img {
        height: 110%;
      }
    }
    .divInfo {
      margin-left: 2rem;
      width: 25rem;
    }
    .divContenido {
      display: flex;
      flex-direction: column;
    }
  }
}
.link:link,
.link:visited,
.link:active {
  text-decoration: none;
  text-decoration-color: none;
}
