.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  label {
    margin-right: 0.5rem;
  }
  select {
    width: 8rem;
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 3px;
  }
}
