.Footer
    color: white
    background-color: black
    width: 100%
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    pointer-events: none
    .video
        width: 100%
        height: 100%
        overflow: hidden
        iframe
            width: 100%
            transform: scale(120%)
    .content
        width: 100%
        display: flex
        justify-content: space-evenly
