.diagonalPattern {
  position: absolute;
  width: 300px;
  height: 500px;
  background-image: repeating-linear-gradient(45deg, #00C49A 0, #00C49A 2px, transparent 0, transparent 50%);
  background-size: 32px 32px;
  background-color: rgba(255, 255, 255, 0);
  top: 100%;
  right: 70%;
}

.diagonalPatternDos {
  position: absolute;
  width: 300px;
  height: 500px;
  background-image: repeating-linear-gradient(45deg, #00C49A 0, #00C49A 2px, transparent 0, transparent 50%);
  background-size: 32px 32px;
  background-color: rgba(255, 255, 255, 0);
  top: 380%;
  left: 70%;
}

.Landing {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Landing .content {
  padding-top: 70px;
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Landing .content .hero, .Landing .content .player, .Landing .content .host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  margin-block: 40px;
}

.Landing .content .hero {
  color: #dcdaee;
  min-height: 80vh;
  gap: 30px;
  position: relative;
}

.Landing .content .hero .text {
  width: 70%;
  position: relative;
}

.Landing .content .hero .text h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 30px;
}

.Landing .content .hero .text p {
  font-size: 23px;
}

.Landing .content .hero .text p span {
  color: #00C49A;
  font-family: 'Pattaya', sans-serif;
}

.Landing .content .hero .bgPattern {
  position: absolute;
  width: 300px;
  height: 500px;
  background-image: radial-gradient(#00C49A 2px, transparent 2px);
  background-size: 32px 32px;
  background-color: transparent;
  top: 100px;
  right: 0;
}

.Landing .content .hero .images {
  width: 40%;
  height: 90%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00C49A), to(#ffffff00));
  background-image: linear-gradient(to bottom, #00C49A, #ffffff00);
  border-radius: 500px 500px 0px 0px;
  padding: 30px;
}

.Landing .content .hero .images img {
  width: 100%;
}

.Landing .content .player, .Landing .content .host {
  color: #140027;
  width: 100%;
  padding: 0px;
  min-height: 630px;
  position: relative;
  background-image: url("../../assets/9.jpg");
  background-size: 120%;
  text-align: left;
  margin-block: 80px;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.Landing .content .player .text, .Landing .content .host .text {
  position: absolute;
  left: 100px;
  top: 100px;
  height: 450px;
  z-index: 1;
}

.Landing .content .player .text h2, .Landing .content .host .text h2 {
  font-size: 55px;
  font-weight: 700;
  margin-right: 40px;
  padding: 10px;
  padding-bottom: 0px;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.Landing .content .player .text h2 span, .Landing .content .host .text h2 span {
  color: #00C49A;
}

.Landing .content .player .text p, .Landing .content .host .text p {
  width: 500px;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  padding: 10px;
  padding-top: 0px;
}

.Landing .content .player .text a, .Landing .content .host .text a {
  position: absolute;
  bottom: 0;
}

.Landing .content .player .text a button, .Landing .content .host .text a button {
  color: #140027;
  font-size: 30px;
  background-color: #dcdaeeb0;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.Landing .content .player .text a button:hover, .Landing .content .host .text a button:hover {
  background-color: #00C49A;
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.Landing .content .player::after, .Landing .content .host::after {
  width: 1040px;
  height: 93%;
  content: '';
  position: absolute;
  left: 30px;
  border: 20px solid #dcdaeeb0;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.Landing .content .host {
  background-image: url("../../assets/13.jpg");
  text-align: right;
}

.Landing .content .host .text {
  position: absolute;
  right: 100px;
  top: 100px;
  height: 450px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.Landing .content .host .text h2 {
  margin: 0px;
}

.Landing .content .host .text p span {
  color: #00C49A;
  font-family: 'Pattaya', sans-serif;
}
/*# sourceMappingURL=Landing.module.css.map */