.dotPattern {
  position: absolute;
  width: 300px;
  height: 500px;
  background-image: radial-gradient(#00C49A 2px, transparent 2px);
  background-size: 32px 32px;
  background-color: transparent;
  top: -10%;
  left: -10%;
  width: 400px;
  height: 200px;
}

.ResetPassword {
  margin: auto;
  width: 750px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.ResetPassword .image {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5 1.5 0px;
          flex: 1.5 1.5 0px;
  background-image: url("../../../assets/3.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  overflow: hidden;
}

.ResetPassword .form {
  background: linear-gradient(135deg, #f3faff 25%, transparent 25%) -32px 0, linear-gradient(225deg, #e0f3ff 25%, transparent 25%) -32px 0, linear-gradient(315deg, #f3faff 25%, transparent 25%), linear-gradient(45deg, #e0f3ff 25%, transparent 25%);
  background-size: 64px 64px;
  background-color: #ecf9ff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  padding: 20px;
  color: #140027;
}

.ResetPassword .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  height: 100%;
  text-align: center;
}

.ResetPassword .form form a {
  text-decoration: none;
  font-size: 50px;
  color: #00C49A;
  font-family: 'Pattaya', sans-serif;
}

.ResetPassword .form form .inputField {
  max-width: 380px;
  width: 100%;
  background-color: #dcdaee;
  margin: 12px 0;
  height: 40px;
  border-radius: 55px;
  padding: 0 0.4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.ResetPassword .form form .inputField .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ResetPassword .form form .fasFaUser {
  text-align: center;
  color: #140027;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.1rem;
}

.ResetPassword .form form input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 400;
  font-size: 1.1rem;
  color: #333;
}

.ResetPassword .form form input::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.ResetPassword .form form input:-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.ResetPassword .form form input::-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.ResetPassword .form form input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.ResetPassword .form form input:-webkit-autofill, .ResetPassword .form form input:-webkit-autofill:hover, .ResetPassword .form form input:-webkit-autofill:focus, .ResetPassword .form form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #dcdaee inset !important;
  border-radius: 30px;
}

.ResetPassword .form form .containerError {
  position: absolute;
  top: 45px;
  left: 15px;
}

.ResetPassword .form form .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ff7575;
  font-size: 14px;
  width: 100%;
}

.ResetPassword .form form .boton {
  color: #140027;
  font-size: 30px;
  background-color: #dcdaeeb0;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  background-color: #62d9bf;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.ResetPassword .form form .boton:hover {
  background-color: #00C49A;
}

.ResetPassword .form form .boton:disabled {
  background-color: rgba(128, 128, 128, 0.788);
}

.ResetPassword .form form .boton:disabled:hover {
  background-color: rgba(128, 128, 128, 0.788);
}

.image::after {
  width: 1040px;
  height: 93%;
  content: '';
  position: absolute;
  left: 30px;
  border: 20px solid #dcdaeeb0;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  left: 0;
  height: 100%;
  pointer-events: none;
  border: 10px solid #dcdaee;
  margin: 10px;
}

.form {
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=ValidateEmail.module.css.map */