@-webkit-keyframes rocket-movement {
  100% {
    -webkit-transform: translate(1200px, -600px);
            transform: translate(1200px, -600px);
  }
}

@keyframes rocket-movement {
  100% {
    -webkit-transform: translate(1200px, -600px);
            transform: translate(1200px, -600px);
  }
}

@-webkit-keyframes spin-earth {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    -webkit-transition: -webkit-transform 20s;
    transition: -webkit-transform 20s;
    transition: transform 20s;
    transition: transform 20s, -webkit-transform 20s;
  }
}

@keyframes spin-earth {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    -webkit-transition: -webkit-transform 20s;
    transition: -webkit-transform 20s;
    transition: transform 20s;
    transition: transform 20s, -webkit-transform 20s;
  }
}

@-webkit-keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-160px, -160px);
            transform: translate(-160px, -160px);
  }
}

@keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-160px, -160px);
            transform: translate(-160px, -160px);
  }
}

@-webkit-keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
  }
}

@keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
  }
}

@-webkit-keyframes glow-star {
  40% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    border-radius: 999999px;
  }
}

@keyframes glow-star {
  40% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    border-radius: 999999px;
  }
}

.spin-earth-on-hover {
  -webkit-transition: ease 200s !important;
  transition: ease 200s !important;
  -webkit-transform: rotate(-3600deg) !important;
          transform: rotate(-3600deg) !important;
}

.purpleBk {
  background: url(http://salehriaz.com/404Page/img/bg_purple.png);
  background-repeat: repeat-x;
  background-size: cover;
  background-position: left top;
  height: 100vh;
  overflow: hidden;
}

.custom-navbar {
  padding-top: 15px;
}

.brand-logo {
  margin-left: 25px;
  margin-top: 5px;
  display: inline-block;
}

.btn-request {
  padding: 10px 25px;
  border: 1px solid #ffcb39;
  border-radius: 100px;
  font-weight: 400;
}

.btn-request:hover {
  background-color: #ffcb39;
  color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.btn-go-home {
  position: relative;
  z-index: 200;
  margin: 15px auto;
  width: 100px;
  padding: 10px 15px;
  border: 1px solid #ffcb39;
  border-radius: 100px;
  font-weight: 400;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 11px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn-go-home:hover {
  background-color: #ffcb39;
  color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.central-body {
  padding: 17% 5% 10% 5%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.objects img {
  z-index: 90;
  pointer-events: none;
}

.object_rocket {
  z-index: 95;
  position: absolute;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  top: 75%;
  pointer-events: none;
  -webkit-animation: rocket-movement 100s linear infinite both running;
          animation: rocket-movement 100s linear infinite both running;
}

.object_earth {
  position: absolute;
  top: 20%;
  left: 15%;
  z-index: 90;
  -webkit-animation: spin-earth 100s infinite linear both;
          animation: spin-earth 100s infinite linear both;
}

.object_moon {
  position: absolute;
  top: 12%;
  left: 25%;
}

.object_astronaut {
  -webkit-animation: rotate-astronaut 200s infinite linear both alternate;
          animation: rotate-astronaut 200s infinite linear both alternate;
}

.box_astronaut {
  z-index: 110 !important;
  position: absolute;
  top: 60%;
  right: 20%;
  will-change: transform;
  -webkit-animation: move-astronaut 50s infinite linear both alternate;
          animation: move-astronaut 50s infinite linear both alternate;
}

.image-404 {
  position: relative;
  z-index: 100;
  pointer-events: none;
}

.stars {
  background: url(http://salehriaz.com/404Page/img/overlay_stars.svg);
  background-repeat: repeat;
  background-size: contain;
  background-position: left top;
}

.glowing_stars .star {
  position: absolute;
  border-radius: 100%;
  background-color: #fff;
  width: 3px;
  height: 3px;
  opacity: 0.3;
  will-change: opacity;
}

.glowing_stars .star:nth-child(1) {
  top: 80%;
  left: 25%;
  -webkit-animation: glow-star 2s infinite ease-in-out alternate 1s;
          animation: glow-star 2s infinite ease-in-out alternate 1s;
}

.glowing_stars .star:nth-child(2) {
  top: 20%;
  left: 40%;
  -webkit-animation: glow-star 2s infinite ease-in-out alternate 3s;
          animation: glow-star 2s infinite ease-in-out alternate 3s;
}

.glowing_stars .star:nth-child(3) {
  top: 25%;
  left: 25%;
  -webkit-animation: glow-star 2s infinite ease-in-out alternate 5s;
          animation: glow-star 2s infinite ease-in-out alternate 5s;
}

.glowing_stars .star:nth-child(4) {
  top: 75%;
  left: 80%;
  -webkit-animation: glow-star 2s infinite ease-in-out alternate 7s;
          animation: glow-star 2s infinite ease-in-out alternate 7s;
}

.glowing_stars .star:nth-child(5) {
  top: 90%;
  left: 50%;
  -webkit-animation: glow-star 2s infinite ease-in-out alternate 9s;
          animation: glow-star 2s infinite ease-in-out alternate 9s;
}

@media only screen and (max-width: 600px) {
  .navbar-links {
    display: none;
  }
  .custom-navbar {
    text-align: center;
  }
  .brand-logo img {
    width: 120px;
  }
  .box_astronaut {
    top: 70%;
  }
  .central-body {
    padding-top: 25%;
  }
}
/*# sourceMappingURL=notfound.css.map */