.createClub{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.createClub * {
    margin-bottom: 1.5rem;
}

.field{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

#map{
    height: 200px;
}

.validation{
    display: inline;
    color: red;
    font-size: x-small;
    margin-top: -1%;
}