.contenedor {
  display: flex;
  justify-content: center;
  align-content: center;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #faefef;
    height: 100vh;
    width: 100vw;
  }
}
