.contenedor {
  display: flex;
  justify-content: center;
  align-content: center;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: red;
    width: 30rem;
    height: 30rem;
    h1 {
      background-color: aliceblue;
      color: blue;
    }
  }
}
