.clubDetail{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    align-items: center;
}
#map{
    width: 50px
}
.reservationModal{
    display: block;
    position:absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0
}

.reservationDetails{
    
    width: 35vw;
    height: 20vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calendarControls{
    display:flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.calendarControls .button{
    font-size: 2rem;
    border: none;
    cursor: pointer;
}