@import '../CSScommons/commons'

.ClubDetail
    margin: auto
    .Club
        display: flex
        flex-direction: column
        align-items: center

.selected
    background-color: $color-detail
