#myTable {
    border-collapse: collapse;
    width: 100%; 
    border: 1px solid rgba(221, 221, 221, 0.867); 
    font-size: 18px; 
  }
  
  #myTable th, #myTable td {
    text-align: left; 
    padding: 12px; 
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }